*.iml
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.gradle/
/build
core/build/generated/assets/
core/build/generated/res/
core/build/generated/source/aidl/
core/build/generated/source/rs/
core/build/intermediates/annotations/
core/build/intermediates/assets/
core/build/intermediates/bundles/debug/aidl/
core/build/intermediates/bundles/debug/assets/
core/build/intermediates/bundles/debug/jni/
core/build/intermediates/bundles/debug/libs/
core/build/intermediates/dependency-cache/
core/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/aidl/
core/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/assets/
core/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/jni/
core/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/libs/
core/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.1.1/res/
core/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/aidl/
core/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/assets/
core/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/jni/
core/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.1.1/libs/
core/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/assets/
core/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/jni/
core/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/libs/
core/build/intermediates/exploded-aar/com.android.support/support-v4/24.1.1/res/
core/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/aidl/
core/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/assets/
core/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/jni/
core/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/libs/
core/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.1.1/res/
core/build/intermediates/jniLibs/
core/build/intermediates/lint/
core/build/intermediates/manifest/tmp/
core/build/intermediates/rs/
core/build/intermediates/shaders/
core/build/intermediates/transforms/
core/build/tmp/
